.App {
  text-align: center;
  margin: auto 10px;
  margin-bottom: 8px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  background-color: white;
  opacity: 0.94;
}

.cont {
  background-color: #ffca2c;
  padding-top: 10px;
  padding-bottom: 5px;
  margin-top: 5px;
  border-radius: 5px 5px 0 0;
  /* border-radius: 4px; */
}

.sw-font {
  font-family: StarWars, sans-serif;
}

.landing-ds {
  height: 44px;
  position: inherit;
}
